<template>
  <div md-modal md-modal.ref="modal">
    <div class="modal-content">
      <h4>${nomination.nomineeName}</h4>
      <h5>${nomination.competence}</h5>
      <ul md-collapsible="accordion: true; popout: true;">
        <li repeat.for="nomination of nominations" class="user-skill collection-item">
          <div class="collapsible-header user-skill-name">
            <div title="${nomination.nominatorName}">
              ${nomination.nominatorName}
            </div>
          </div>
          <div class="collapsible-body user-skill-detail">
            <div>
              ${nomination.description}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <div class="center-align">
        <button if.bind="!isAwarded"  disabled.bind="isLocked" md-button click.delegate="sendEmail() & debounce:500">Send Email</button>
        <div if.bind="isAwarded"> Email sent! </div>
      </div>
    </div>
  </div>
</template>
