<template>
  <require from="./notification-detail.html"></require>
  <div class="viewer">
    <md-card md-title="Notifications" if.bind="notifications">
      <p if.bind="!hasNotifications">
        No notifications
      </p>
      <md-collection if.bind="hasNotifications">
        <md-collection-item class="accent-text " repeat.for="notification of notifications">
          <notification-detail notification.bind="notification"></notification-detail>
        </md-collection-item>
      </md-collection>
    </md-card>
  </div>
</template>

