<template>
  <div id="nominateModal" md-modal="dismissible: false;"
      md-modal.ref="nominateModal">
    <form submit.delegate="processNomination()" novalidate>
      <div class="modal-content">
        <h4>Nominate</h4>
        <select required md-select="disabled.bind: disabled"
            value.two-way="nomination.competence" id="competences">
          <option value="" disabled selected>Which competence?</option>
          <option value="passion">Passion</option>
          <option value="commitment">Commitment</option>
          <option value="innovation">Innovation</option>
          <option value="quality">Quality</option>
          <option value="teamwork">Teamwork</option>
        </select>
        <br>
        <div class="input-field">
          <brainy-input id="nominationDescription"
              md-label="Why are you nominating this person?"
              md-type="textarea"
              md-brainy-value.bind="nomination.description | toLowercase"
              md-brainy-pattern="^[a-z\d]+(\s[a-z\d]+)*$"
              md-brainy-max-length="250" md-validate="true"
              md-required="true"
              md-validate-error="Please enter a valid nominate description">
          </brainy-input>
        </div>
      </div>
      <div class="modal-footer">
        <button md-button="flat: true;" type="submit" md-waves="color: accent;"
            disabled.bind="!isValidNomination" class="modal-action">
          Accept
        </button>
        <button md-button="flat: true;" type="button" md-waves="color: accent;"
            class="modal-action" click.trigger="closeNominateModal()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</template>
