/**
* This file contains only styles for basic tags (no customs, no forms).
**/

/* Google Fonts */
@import "https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic,thin|Roboto:regular,bold|Fredericka+the+Great|IM+Fell+English";

html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;

  &:not(.landingPage) {
    @extend .grey;
    @extend .lighten-3;
  }
}

h1.brand,
.brand-logo {
  font-family: 'Fredericka the Great', serif;
}

h1.brand,
h2,
.brand-logo {
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: 'IM Fell English', serif;
}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}

.input-field label {
  left: 0;
}

md-input .input-field > label,
brainy-input .input-field > label {
  transform: translateX(0px) translateY(-140%) !important;
}

.warn {
  @extend .red-text;
}

