rating-dialog {
  > ul {
    text-align: center;
  }
}

.rating-display {
  line-height: 2.3rem;
  font-size: 17px;
  color: #fff;
  background-color: #555;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  margin: 0 2px;
  transition: all .1s ease-in-out;
  opacity: 0.5;

  .material-icons {
      line-height: 2.3rem;
  }  
}

.rate {  
  @extend .rating-display;

  &.selected  {
    background-color: #ffab13;
  }

  &.active {
    opacity: 0.8;
  }

  &:hover {
    transform: scale(1.4);
    cursor: pointer;
    background-color: #333;
  }
  
}

.hintsForRatingsTitle {
  padding: 1rem;
}
